{% extends 'layout.html' %}
{% block body %}

<h1 class="title is-2">{{ food }}</h1>
{% if year and month %}
<h2 class="subtitle">(year: {{year}}, month: {{month}}, day: {{day}})</h2>
{% else %}
<h2 class="subtitle">(Anytime)</h2>
{% endif %}



<input type="range" name="points" min="1" max="10" id="slider"><span id="range_here">Value: </span>
<h3 id="result_here">Result: </h3>



<hr>

{% for view in views %}
<div class="box">
    <ul>
        <li><b>Year</b>: {{view['year']}}</li>
        <li><b>Month</b>: {{view['month']}}</li>
        <li><b>Location</b>: {{view['location']}}</li>
    </ul>
</div>
{% endfor %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename = 'app.js') }}"></script>

{% endblock body %}