{% extends 'layout.html' %}
{% block body %}

<form action="" method="post">
    <input class="input is-rounded" type="text" placeholder="Search:" name="query" style="width: 90%">
    <button class="button is-link is-rounded" type="submit">Search</button>
</form>
{% if query %}
<br>
<h4 class="subtitle">Search: {{query}}</h4>
{% endif %}
<hr>


<div class="columns is-multiline">

    {% for food in foods %}
    <div class="column is-3">
        <div class="box has-text-centered"><u><a href="/food/{{  food  }}"
                    class="subtitle is-4 has-text-link">{{ food }}</a></u></div>
    </div>
    {% endfor %}

</div>


{% endblock %}