<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>wiki-food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
</head>

<body>

    {% include 'includes/_navbar.html' %}


    <div class="container" style="padding-top: 1.5rem;">

        {% include 'home.html' %}

    </div>


</body>

</html>